/* Footer styles */
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer div {
  cursor: pointer;
}

.footer div:hover {
  text-decoration: underline;
}
