<div class="container">
  <div class="product-details">
    <div class="product-details-left">
      <h1>{{selectedLocation?.name}}</h1>
      <p class="description">{{selectedLocation?.content?.description}}</p>
      <p class="price">Email: {{selectedLocation?.content?.email}}</p>
      <p class="price">Phone Number: {{selectedLocation?.content!.phones[0]}}</p>

      <!-- Add other product details as needed -->
    </div>
    <div class="product-details-right">
      <img [src]="selectedLocation?.previewImage" alt="Product Image">
    </div>
  </div>
  <div class="similar-products">
    <h2>Events     <input [owlDateTime]="dt1" selectMode="range" [min]="currentDate" [max]="maxDate()" (dateTimeChange)="dateSelected($event)" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
    </h2>
    <owl-date-time #dt1></owl-date-time>

    <h3 *ngIf="!this.startTs || !this.endTs">Please pick a Time Range</h3>

    <h3 *ngIf="this.startTs && !this.filteredLocationEvents.length">No Events Found</h3>


    <div *ngFor="let event of filteredLocationEvents" class="similar-product">
      <img [src]="event.content.mainImage" alt="Similar Product 1">
      <p class="similar-product-name">{{event.name}}</p>
      <p class="similar-product-name">Start Date: {{event.startDate}} {{event.startTime}}</p>
      <p class="similar-product-name">End Date: {{event.endDate}} {{event.endTime}}</p>
    </div>

    <!-- Add more similar products -->
  </div>
</div>
